/* react-autosuggest and react-datepicker styling */
.react-datepicker {
  top: -10px;
}

.react-autosuggest__container, .react-datepicker__input-container {
  position: relative;
  display: inline-block;
}

.react-datepicker__header {
  background-color: white;
}
.react-datepicker__current-month {
  font-weight: normal;
  font-family: Helvetica;
}

.react-autosuggest__input, .react-datepicker__input-container input {
  width: 250px;
  height: 35px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1em;
  border: 1px solid #aaa;
  color: $light-blue;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 56px;
  width: 280px;
  max-height: 30vh;
  overflow-y: scroll;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  z-index: 2;
  color: black;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}

.react-datepicker__triangle {
  display: none;
}
